:root {
  --primary-color: #203b8f;
  --secondary-color: #0090da;
  --tertiary-color: #0d6efd;
  --aqua-blue: #cce9f8;
  --background-color: #eaeef4;
  --text-dark: #404040;
  --white: #ffffff;
  --grey: #797979;
  --error-color: #d46262;
  --advice-color: #f87d2b;
  --sucess-color: #22998f;
  --obligation-color: #d90e2a;
  --stroke: #d2d2e3;
}
* {
  box-sizing: border-box;
}

/* Configurações de Base */
body {
  background-color: var(--background-color);
  font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.card-top,
.main-card {
  background-color: var(--white);
  width: 100%;
  max-width: 1200px;
  border-radius: 12px;
}

.card-top {
  padding: 1.8rem;
}

.btn-group {
  display: flex;
  gap: 1rem;
}

.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1.8rem;
}

.page-title {
  font-size: 30px;
  font-weight: 600;
  color: var(--text-dark);
  margin: 0;
}
.btn {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.btn-agendar {
  background: var(--sucess-color);
  color: white;
}
.btn-cancelar {
  background: var(--grey);
  color: white;
}

.btn-limpar {
  background: #6a9bb4;
  color: white;
}

.area-btn {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

/* Tipografia das Seções */

.title-section {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 0.75rem;
}
.req {
  color: var(--obligation-color);
}

/* grids e inputs */

.grid-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 0;
}

.dynamic-inputs {
  display: flex;
  gap: 1rem;
  width: 100%;
  flex-wrap: nowrap;
}

.rotulo-interno {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  gap: 5px;
}

.input-tag {
  height: 35px;
  border: 1px solid var(--stroke) !important;
  border-radius: 4px;
  padding: 0 8px;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
}

input,
select {
  height: 2.5rem;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--stroke) !important;
}

/* foco */
input:focus,
select:focus {
  border-color: var(--secondary-color);
  background: var(--white);
  outline: none;
}

.grid-scheduling {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

/* Grid interna de 3 colunas para as linhas de data/hora/select */
.grid-row-three {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  gap: 16px;
}

/* label */
.text-label,
label {
  font-size: 13px;
  font-weight: 700;
  color: var(--text-dark);
  display: block;
}

/* Visual de Chips (Preview) */
.box-preview {
  background: var(--aqua-blue);
  border: 1px solid var(--stroke);
  padding: 20px;
  border-radius: 10px 10px 0 0;
  line-height: 2;
  color: var(--text-dark);
  font-size: 14px;
}

.chip {
  background: var(--tertiary-color);
  color: var(--white);
  padding: 0.05rem 0.5rem;
  line-height: 1.5;
  border-radius: 6px;
  font-weight: bold;
  display: inline-block;
}

.chip.vazio {
  background: var(--white);
  color: var(--tertiary-color);
  border: 1px dashed var(--tertiary-color);
  box-shadow: none;
}

/* Container de exibição sob as informações */
.concatenated {
  background-color: var(--white);
  border: 1px solid var(--stroke);
  padding: 15px 20px;
  border-radius: 0 0 10px 10px;
  min-height: 50px;
}

#textoSimples {
  margin: 0;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  color: var(--text-dark);
  line-height: 1.8;
}

.section-divider {
  height: 0.01rem;
  border: 1px solid var(--stroke);
  margin: 0;
  width: 100%;
}
